:root {
    --color-1: #673ab7;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: sans-serif;
    background-color: #c6cde0;

    $padding: 0 15px;

    .header {
        background-color: var(--color-1);
        padding: 12px 0;
        position: relative;

        .container {
            max-width: 1000px;
            margin: auto;

            .row {
                display: flex;
                flex-wrap: wrap;

                #nav-check {
                    position: absolute;
                    opacity: 0;
                    pointer-events: none;
                }

                .logo {
                        padding: $padding;

                        a {
                            font-size: 30px;
                            color: #fff;
                            text-transform: capitalize;
                        }
                    }

                    .nav-toggler {

                        i {
                            font-size: 2.5rem;
                            color: #fff;
                            cursor: pointer;
                            display: none;
                            margin-right: 30px;
                        }
                    }
        
                .nav {
                    padding: $padding;

                    ul {
                        list-style: none;

                        li {
                            display: inline-block;
                            margin-left: 40px;

                            a {
                                display: block;
                                font-size: 1rem;
                                color: rgba(255,255,255,0.7);
                                padding: 10px 0;
                                text-transform: capitalize;
                                transition: all .5s ease;

                                &:hover {
                                    color: #fff;
                                }
                            }

                            .active {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .align-items {
                align-items: center;
            }
            .justify-content {
                justify-content: space-between;
            }
        }
    }

    @media (max-width:800px) {
        .header {

            .container {

                .row {



                    #nav-check:checked ~ .nav{
                        opacity: 1;
                        visibility: visible;
                    }

                    // #nav-check:checked ~ .nav-toggler  i{
                    //     background-color: transparent;
                    //     box-shadow: 0 0 15px #0000;
                    // }

                    .nav-toggler {
                        
                        i {
                            display: flex;
                        }
                    }

                    .nav {
                        position: absolute;
                        left: 0;
                        top: 100%;
                        width: 100%;
                        background-color: var(--color-1);
                        border-top: 1px solid rgba(255,255,255,0.2);
                        opacity: 0;
                        visibility: hidden;

                        ul {

                            li {
                                display: block;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}